{% extends 'todo/base.html' %}
{% load crispy_forms_tags %}
 {% block content %}

<form method="POST">
    {% csrf_token %}

    <fieldset class="form-group" > 
        <legend> Add New Task Title </legend>
        {{form.task_title}}
        {{ form.media }}
    </fieldset>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" > Submit </button>
    </div>
</form>



    

{%endblock content %}


{% block sidebarTasks %}
<h4 class="text-decoration-none text-light p-4 text-center border-bottom" style="width: 80%;"> {{title}} </h4>    




{% for task in tasks %}
    
        <div class="" style="overflow-y: scroll !important; width: 100%;">
            <ul class="btn-toggle-nav list-unstyled fw-normal p-0 ">
                <li>
                    <a class="text-decoration-none text-light p-4" 
                    href="{% url 'todo-task' title task.id %}">{{task}}</a>
                </li>
                    
            </ul>
                    
                    
        </div>

    
    
    {% endfor %}


{% endblock sidebarTasks %}